* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(197, 147, 255);
}

.maior-header {
    background-color: white;
    display: flex;
    height: 13vh;
}

.maior-header h1 {
    text-align: center;
    margin-left: 21rem;
    font-size: 60px;
    margin-top: 20px;
}

.pesquisar {
    position: relative;
    width: 17rem;
    margin-top: 30px;
    margin-left: 25px;
}

.pesquisar>input {
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    background-color: rgb(229, 192, 253);
}

.pesquisar>img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    margin-top: -12px;
    margin-right: 190px;
}

.pesquisar> ::placeholder {
    text-align: end;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 190px;
}

.configurações {
    margin-top: 25px;
    margin-left: 35rem;
}

.configurações button {
    background-color: transparent;
}

.configurações img {
    width: 40px;
}

.login {
    margin-top: 10px;
    background-color: transparent;
}

.login img {
    width: 80px;
}

main {
    background-color: rgb(191, 122, 255);
}

.menu-header {
    display: flex;
    height: 7vh;
    margin-left: 25%;
}

.categorias {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 150px;
    width: 20px;
}

.categorias h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.destaque {
    font-size: 30px;
    padding: 20px;
    margin-left: 70px;
    font-family: sans-serif;
}

.content-destaques {
    display: flex;
    margin-top: 20px;
    background-color: rgb(223, 184, 255);
    height: 69vh;
    padding: 30px;
}

.content-one {
    margin-left: 80px;
    margin-right: 30px;
}

.content-one>p {
    font-family: sans-serif;
}

.content-one>img {
    border-radius: 20px;
    
}

.content-two {
    margin-right: 50px;
}

.content-two>img {
    border-radius: 20px;
}

.content-two>p {
    font-family: sans-serif;
}

.content-recentes {
    display: flex;
    margin-top: 40px;
    margin-left: 65px;
}

.recentes {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 60px;
    margin-left: 650px;
    margin-bottom: 30px;
}

.content-three>img {
    border-radius: 20px;
    width: 50vh;
}

.content-three > p {
    font-family: sans-serif;
}

.content-four {
    margin-left: 30px;
}

.content-four > img {
    border-radius: 20px;
    width: 40vh;
}

.content-four > p {
    font-family: sans-serif;
}

.content-five {
    margin-left: 30px;
}

.content-five > img {
    border-radius: 20px;
    width: 40vh;
}

.content-five > p {
    font-family: sans-serif;
}

.content-six {
    margin-left: 30px;
}

.content-six > img {
    border-radius: 20px;
    width: 40vh;
}

.content-six > p {
    font-family: sans-serif;
}

footer {
    margin-top: 90px;
    background-color: rgb(234, 204, 255);
    padding: 40px;
    height: 15rem;
}

footer h1 {
    margin-top: 15px;
}

.coracao {
    width: 50px;
    margin-left: 780px;
    margin-top: -100px;
}

.redes > img {
    display: inline;
    height: 10vh;
    border-radius: 10px;
}

